segundotrimestre/dtd/ejercicio10.dtd

<!ELEMENT estacion_meteorologica (registro+)>
<!ELEMENT registro (ubicacion, fecha, hora, temperatura, humedad, presion, viento, lluvia)>
<!ELEMENT ubicacion (#PCDATA)>
<!ATTLIST ubicacion id ID #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT temperatura (#PCDATA)>
<!ELEMENT humedad (#PCDATA)>
<!ELEMENT presion (#PCDATA)>
<!ELEMENT viento (direccion, velocidad)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT velocidad (#PCDATA)>
<!ELEMENT lluvia (#PCDATA)>